[Unit]
Description=rMail SMTP socket

[Socket]
# Listen on privileged ports for both IPv4 and IPv6; systemd will handle permissions
ListenStream=0.0.0.0:25
ListenStream=[::]:25

[Install]
WantedBy=sockets.target
